<%
  color = %w[ primary secondary success danger warning info light dark][color_num]
  class_list = "list-group-item list-group-item-#{color}"
%>

<li class="<%=class_list%>">
  <%= SecureRandom.uuid %>
</li>
