<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<h2>JS will load an image here:</h2>
<div id="image" data-controller="image-loader" data-image-loader-image-src-value="<%= image_path 'bunny' %>"></div>
