<h1>Static#react</h1>
<p>Find me in app/views/static/react.html.erb</p>

<div class="py-2">
  <h2>React should load a component below:</h2>
  <div data-controller="react-loader">did not load yet...</div>
</div>
